.formTitle{
    font-size: 35px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.headerTitle{
    font-size: 60px;
}
.formLabel{
    font-size: 30px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.botonSubmit{
	width: 50%;
    height: 50px;
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
}
.textoBotonSubmit{
    font-size: 30px;
}
.inputText{
    height: 35px;
}
.submitButton{
	width: 50%;
    height: 50px;
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
}
#registerFormData label.error {
	float: right; 
	color: red; 
	padding-top: .10em; 
	vertical-align: top; 
}
