body {
    font-size: 24px;
    background-color: white;
}

.ui-page {

    background : transparent url('../images/fondoEnjoyHealth.png') 0 0 no-repeat fixed !important;
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;    
    background-size : cover;
}​

.ui-content{
	height: 100%;
	min-height: 800px;
	background: transparent;
}

.ui-header .ui-title {
    font-size: 28px;
    padding: 5px;
}

#message{
	width: 100%;
}

.ui-header .ui-btn-text {
    font-size: 35px;
    padding: 5px;
}

.ui-grid-a .ui-btn-text{
	font-size: 24px;
}

.ui-footer {
	font-size: 28px;
	height: 10%;
	margin-bottom: 0px;
}

.ui-footer .ui-btn-text {
    font-size: 28px;
    padding: 5px;
}

.barraOpciones{
	position:relative;
	padding-left: 200px;
	padding-top: 5px;
	background-color: #D8D8D8;
	width: 100%;
	height: 70px;
}

.imagenBarraOpciones{
	width: 30px;
	height: 50px;
}

.currentCityPosition{
	font-size: 20px;
	font-weight: bold;

}

/* custom icons */

.navFooter .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.navFooter .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#planes .ui-icon {
	background: url(../img/icons/notepad.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#historial .ui-icon {
	background: url(../img/icons/81-dashboard.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#inbox .ui-icon {
	background: url(../img/icons/message.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#registro .ui-icon {
	background: url(../img/icons/14-tag.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#perfil .ui-icon {
	background: url(../img/icons/67-tshirt.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

.botonSubmit{
	margin-left: 50px;
	width: 90%;
	height: 80px;
	font-size: 40px;
}

.textoBotonSubmit{
	font-size: 40px;
}

.textoIniciaPlan{
	font-size: 30px;
}

#responder .ui-icon {
	background: url(../img/icons/notepad.png);
	background-size: 24px 22px;
	background-repeat: no-repeat;
}


.botonIniciaPlan {
	cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa1a1), color-stop(1, #f52525) );
	background:-moz-linear-gradient( center top, #ffa1a1 5%, #f52525 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa1a1', endColorstr='#f52525');
	background-color:#ffa1a1;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #ff0000;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:45px;
	font-weight:bold;
	font-style:normal;
	height:80px;
	line-height:66px;
	width:450px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ff0000;
}
.botonIniciaPlan:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f52525), color-stop(1, #ffa1a1) );
	background:-moz-linear-gradient( center top, #f52525 5%, #ffa1a1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f52525', endColorstr='#ffa1a1');
	background-color:#f52525;
}.botonIniciaPlan:active {
	position:relative;
	top:1px;
}