.ui-content{
	height: 100%;
	min-height: 800px;
}

.ui-header .ui-title {
    font-size: 28px;
    padding: 5px;
}

#message{
	width: 100%;
}

.ui-header .ui-btn-text {
    font-size: 22px;
    padding: 5px;
}

.ui-grid-a .ui-btn-text{
	font-size: 24px;
}

.ui-footer {
	font-size: 24px;
	height: 10%;
	margin-bottom: 0px;
}

.ui-footer .ui-btn-text {
    font-size: 25px;
    padding: 5px;
}

/* custom icons */

.navFooter .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.navFooter .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#planes .ui-icon {
	background: url(../img/icons/notepad.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#historial .ui-icon {
	background: url(../img/icons/22-skull-n-bones.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#inbox .ui-icon {
	background: url(../img/icons/notepad.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#registro .ui-icon {
	background: url(../img/icons/22-skull-n-bones.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

#perfil .ui-icon {
	background: url(../img/icons/22-skull-n-bones.png);
	background-size: 30px 28px;
	background-repeat: no-repeat;
}

.botonSubmit{
	margin-left: 50px;
	width: 90%;
	height: 80px;
	font-size: 40px;
}

.textoBotonSubmit{
	font-size: 40px;
}

#responder .ui-icon {
	background: url(../img/icons/notepad.png);
	background-size: 24px 22px;
	background-repeat: no-repeat;
}